* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
}

.container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin: 50px;
    max-width: 15vw;
    height: 35rem;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 75px;
    margin: 5px;
    border: 1px solid black;
}