@media (max-width: 884px){
    .newsletter-boxes{
        flex-direction: column;
    }

    .newsletter-bottom {
        display: flex;
    }

    .newsletter-bottom article h4 {
        text-align: inherit;
    }

    .newsletter-bottom-content{
        text-align: left;
    }
}