html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 20px 50px;
    background-color: rgb(238, 238, 238);
    color: rgb(51, 51, 51);
}

img.roundabout {
    max-height: 500px;
    max-width: 600px;
}

main {
    width: 60%;
}

aside {
    width: 20%;
    margin-left: 50px;
    vertical-align: top;
}

main,
aside {
    display: inline-block;
}

